<div class="container">
<form action="/employee" method="post">
  <fieldset>
    <legend>Add Employee</legend>
    
   

     <div class="form-group">
      <label  class="form-label mt-4">Name</label>
      <input type="text" class="form-control" name="fullName" placeholder="Enter Your Name">
    </div>

     <div class="form-group">
      <label  class="form-label mt-4">Email</label>
      <input type="email" class="form-control" name="email" placeholder="Enter Your Email">
    </div>

     <div class="form-group">
      <label  class="form-label mt-4">Mobile</label>
      <input type="text" class="form-control" name="mobile" placeholder="Enter Mobile Number">
    </div>
     <div class="form-group">
      <label  class="form-label mt-4">City</label>
      <input type="text" class="form-control" name="city" placeholder="Enter Your City">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
</div>